
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*kolory jakich bede uzywac

.first-color { 
	background: #062925; 
}
	
.second-color { 
	background: #044a42; 
}

.third-color { 
	background: #3a9188; 
}

.fourth-color { 
	background: #b8e1dd; 
}

*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	  font-family: "Poppins", sans-serif;
    
}
html {
     font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    
}
body{
    margin: 0;
    background-color:#3a9188; 
}

header {
    position: fixed;
    background-color: #044a42;
    box-shadow: 0 10px 15px -3px 
rgba(0, 0, 0, 0.1),
        0 4px 6px -4px 
rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
}
header .wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
header .logo img {
    height: 50px;
    display: block;
}
.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: 
#062925; 
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: 
#b8e1dd;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    transition: ease-in-out 0.3s;
}
.navbar ul a:hover {
    color:  
 #3a9188;
 
}


.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: 
#b8e1dd;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid 
rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: 
#444444;
}
.close-nav button:hover {
    color: 
#222222;
    background: 
#ffffff;
}

.menu-bar button {
    border: 1px solid 
rgba(0, 0, 0, 0.1);
    background: #3a9188; 
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid 
#444444;
    border-bottom: 3px solid 
#444444;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid 
#444444;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: 
white;
}
.menu-bar button:hover i {
    border-color: 
#222222;
}
.sekcja {
    padding: 90px;
    text-align: center;
}

#sekcja1 {
	background-color: #3a9188;
 }

 #sekcja1 h1{
  width: 100%;
  height: auto;
  margin: 0 auto; /* Centruje w poziomie, gdy element ma określoną szerokość */
  font-size: 80px;
  text-align: center; /* Wyśrodkowuje tekst w poziomie */

 }
 .onas{
    padding: 20px 20px;
    width: 100%;
    height: auto;
	background-color: #066459; 
	border: solid 3px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	border-color: #005f56;
 }

 .onas p{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	color: rgb(170, 192, 176);
  width: 100%;

 }
 #sekcja1 h2{
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: rgb(255, 255, 255);
	border-bottom: solid 1px;
	border-color: #3a9188;
 }

 .sekcja2{
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;

 }
 .karta{

  width: 325px;
  background-color: #062925; 
  color: #b8e1dd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(red, green, blue, 0.3);
  overflow: hidden;
  margin: 10px;
  transition: ease 0.3s;
 }

 .karta:hover{

    background-color: #044a42; 

 }
 .karta img{

    width: 100%;
    height: 225px;
    object-fit: cover;

 }

 .karta-kontent{
  padding: 20px;
 }
 .karta-kontent h2{
  font-size: 24px;
  margin-bottom: 10px;

 }
 .karta-kontent p{

  font-size: 14px;
  margin-bottom: 20px;
 }
 .karta-przycisk{
  display: inline-block;
  background-color: #093530;
  color: #b8e1dd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: ease 0.3s;

 }

 .karta-przycisk:hover{
  background-color: #066459;
 }

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {    
    background-positon-x: 0px;
  }
}
@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
    
 
}

@media (max-width: 600px){

  #sekcja1 h1{
  width: 100%;
  height: auto;
  margin: 0 auto; /* Centruje w poziomie, gdy element ma określoną szerokość */
  font-size: 50px;
  text-align: center; /* Wyśrodkowuje tekst w poziomie */

 }
}